/*
файл для стилей блока с поиском локаций
*/

.search-container {
  display: flex;
  justify-content: space-between;
}

.btn {
  background: none;
  border: none;
  transition: all 0.3s ease-out;
}

.btn:hover {
  transform: scale(1.2);
}

.btn-icon {
  border: 1.5px solid #ffffff96;
  border-radius: 10px;
  transition: all 0.2s ease;
}

.btn-icon:active {
  background-color: #afbef7;
}
.search-input {
  width: 320px;
  height: 30px;
  background: #afbef7;
  margin: 0 5px;
  border-radius: 10px;
  border: 1px solid #ffffff56;
  text-align: center;
}

.search-input::placeholder {
  transition: color 0.2s ease;
  color: #001356;
}
.search-input:focus {
  outline: none;
}

.search-input:focus::placeholder {
  color: #afbef7;
  border: none;
}
