/*
файл для редактирования основного блока с текущей погодой
*/

.weather-data {
  padding: 10px;
  border-radius: 5px;
  border: 1.5px solid #ffffff96;
  border-radius: 10px;
}

.current-weather-top {
  display: grid;
  grid-template-columns: 1fr 2.5fr 1fr;
  gap: 10px;
  align-items: center;
}

.weather-icon {
  width: 100%;
}

.city {
  font-weight: 600;
  font-size: 32px;
  color: #001356;
  height: 43px;
}

.will-it-rain {
  font-size: 11px;
}

.temperature {
  background: rgba(203, 214, 255, 0.3);
  border: 1px solid #fff;
  text-align: center;
  height: 60px;
  border-radius: 15px;
  font-size: 48px;
}

.gradus {
  width: 0;
  height: 0;
}

.weather {
  margin-right: 5px;
  font-size: 13px;
  margin-bottom: 17px;
  text-align: center;
}

.weather-icon {
  transform: scale(1.2);
}

.wind-icon {
  width: 15px;
  margin-right: 3px;
}

.temperature-icon {
  width: 15px;
}

.current-weather-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.hours-weather-container {
  border-radius: 5px;
  display: flex;
  gap: 15px;
  justify-content: space-between;
  text-align: center;
}

.feels-wind-container {
  align-content: center;
}

.feels-like {
  margin-bottom: 10px;
}

.wind {
  margin-top: 3px;
}

.wind-container-flex {
  display: flex;
}

.hours-weather-card {
  border-radius: 15px;
  border: 1.5px solid #ffffff96;
  width: 80px;
  background-color: #cbd6ff4d;
  height: 100px;
}

.weather-img {
  width: 60%;
}
